# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
.env/

# IDEs
.vscode/
.idea/

# Distribution / Packaging
dist/
build/
*.egg-info/

# Project specific
results/
data/openi/images/
data/openi/reports/
data/subset/
data/NLMCXR/
data/NLMCXR/**/*.xml
data/NLMCXR/**/*.png
data/NLMCXR/**/*.jpg
data/NLMCXR/**/*.jpeg
data/NLMCXR/*
